<!DOCTYPE html>
<html lang="ru-en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/general.css">
  {{#if style}}
    <link rel="stylesheet" href="{{ style }}">
  {{/if}}
  {{#if showTests}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css">
  {{/if}}
  <title>{{ title }}</title>
</head>