<nav>
  <a href="/">Goals Calendar</a>
  <ul>
    {{#if displayLink}}
      {{#if isSettings}}
        <li class="active"><a href="/settings">Настройки</a></li>
      {{else}}
        <li><a href="/settings">Настройки</a></li>
      {{/if}}
      {{#if isStatistics}}
        <li class="active"><a href="/statistics">Статистика</a></li>
      {{else}}
        <li><a href="/statistics">Статистика</a></li>
      {{/if}}
      {{#if isAchievements}}
        <li class="active"><a href="/achievements">Достижения</a></li>
      {{else}}
        <li><a href="/achievements">Достижения</a></li>
      {{/if}}
    {{/if}}
      {{#if isManual}}
        <li class="active"><a href="/manual">Руководство</a></li>
      {{else}}
        <li><a href="/manual">Руководство</a></li>
    {{/if}}
  </ul>
  {{#unless displayLink}}
    <a href="/login">Войти</a>
    <a href="/register">Регистрация</a>
  {{/unless}}
  {{#if displayLink}}
    <a href="/logout" class="logout">Выйти</a>
  {{/if}}
</nav>