{
    "extends": ["airbnb/base"],
    "rules": {
        "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
        "strict": "off",
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    }
}