<section class="calendar-test">
  <section class="calendar">
    {{#if script}}
    <div id="left"></div>
    <div id="right"></div>

    <div id="modal-info-actions">
      <div class="actions-container">
        <p id="action-date"></p>
        <div id="action-box"></div>
      </div>
    </div>

    <script src="{{script}}"></script>
    {{/if}}
  </section>
</section>