<section class="login">
  <div class="login-container">
    <h2>Авторизация</h2>
    {{#if errors}}
    <h2 class="error-msg">{{errors}}</h2>
    {{/if}}
    <form action="/login" method="POST">
      <label>Имя <input name="name" type="text" placeholder="Введите имя"></label>
      <label>Пароль <input name="password" type="password" placeholder="Введите пароль"></label>
      <input id="btn-login-user" type="submit" value="Войти">
    </form>
  </div>
</section>