<section class="manual">
  <h2>Добро пожаловать в Vector</h2>
  <p>Представленное веб-приложение поможет оставаться приверженным целям, корректировать вектор движения, придерживаться намеченного курса и получать радость от постоянного прогресса.</p>
  <p>Vector даст возможность проконтролировать достижение цели, измерить, отследить и насладиться пройденным путем.</p>
  <h1>Примеры использования</h1>
  <p>1. Создание действия</p>
  <p>Для того, чтобы создать действие, в разделе "Действия" нужно расскрыть и заполнить соответствующую форму. Созданное действие будет отображаться в календаре исходя из тех настроек, которые вы указали при создании действия.</p>
  <img src="/img/exemple1.gif" alt="gif">
  <p>2. Изменение порядка отображения действий</p>
  <p>Порядок отображения действий зависит от того, в каком порядке они расположены в блоке активных действий раздела "Действия". Перемещать действия можно зажав кнопку, которая находится в верхнем правом углу ячейки действия.</p>
  <img src="/img/exemple2.gif" alt="gif">
  <p>3. Выполнение действий</p>
  <p>После того, как вы выполнили действие, его стоит отметить как выполненое. Для этого можно нажать на соответствующий кружок в календаре.</p>
  <img src="/img/exemple3.gif" alt="gif">
  <p>Также можно кликнуть мышкой на нужный день, чтобы открыть окно с более подробной информацией о действиях и отметить или отменить действие в нём.</p>
  <img src="/img/exemple4.gif" alt="gif">
  <p>Если выполнить все действие в определённом дне календаря, то день перейдет в статус успешно выполненого.</p>
  <img src="/img/exemple5.gif" alt="gif">
  <p>4. Долги</p>
  <p>При создании действия вы можете выбрать пункт отслеживания долгов. В этом случае, все невыполненые действия будут отмечены как долг. Суть учёта долгов в том, что вы можете выполнить их позже.</p>
  <img src="/img/exemple6.gif" alt="gif">
  <p>5. Завершенные действия</p>
  <p>Если уже нет необходимости выполнять действие, его можно завершить. Псоле завершения действия, весь прогресс его выполнения сохраняется и все прошлые изменения в кадендаре и статистике также будут отображаться, а будущие дни уже будут вестись без учёта завершённого действия.</p>
  <img src="/img/exemple7.gif" alt="gif">
  <p>6. Удаление действия</p>
  <p>Завершённое действие можно удалить в разделе завершённые действия. После удаления, весь прогресс выполнения действия, отображение его в календаре и статистике будет удалёно навсегда.</p>
  <img src="/img/exemple8.gif" alt="gif">
  <p>7. Статистика</p>
  <p>В данном разделе будет отображены вся информация по текущим и завершённым действиям, статистика за текущий год и месяц.</p>
  <img src="/img/exemple9.gif" alt="gif">

  <h1>Что нужно для использования веб-приложения?</h1>
  <p>Зарегистрироваться и войти. Регистрация необходима для создания и сохранения действий, ведения истории и статистики прогресса. Это не займет у вас много времени.</p>

  <a href="https://github.com/quantumVector/Vector" target="_blank">GitHub</a>
</section>