<section class="manual">
  <h1>Приветствие</h1>
  <h2>Добро пожаловать в Vector</h2>
  <p>Представленное веб-приложение, созданно для того, что вы могли оставаться приверженными своим целям, которые для вас важнее
    всего, корректировать вектор вашего движения, не отклонятся от намеченного курса и получать радость от прогресса,
    который вы делаете каждый день.</p>
  <p>Vector поможет вам проконтролировать достижение вашей цели. Вы сможете измерить, отследить и в итоге получить
    удовлетворение от пройдённого вами пути.</p>
  <p>Создавайте действия, которые требуется выполнить, чтобы достичь вашей цели. Каждый день отмечайте их как
    выполненные и продолжайте до самого достижение цели, а затем переходите к следующей цели.</p>
  <h1>Начало пользования веб-приложением.</h1>
  <p>Чтобы начать использование, вам нужно зарегистрироваться и войти. Это нужно для того, чтобы ваши созданные действия, история и
    статистика вашего прогресса сохранялись.</p>
  <h1>Создание первого действия.</h1>
  <p>После авторизации в веб-приложении, вам нужно будет создать своё первое действие, которое вы хотите совершать,
    чтобы достичь своей цели. Для этого перейдите в раздел “Действия” и по нажатию на кнопку “Создать действие” появится
    форма создания действия.</p>
  <p>Придумайте название действия. В нашем примере мы создадим действие с названием “Подготовка к экзамену” которое
    поможет нам выучить все билеты до начала экзамена. Максимальный размер названия 30 символов, так что будьте
    лаконичными и краткими.</p>
  <p>Затем нам надо решить, каждый ли день нам учить материал или стоит выбрать определённые дни. По умолчанию стоит
    галочка “Каждый день”, но нам не нужно учиться каждый день, чтобы подготовиться к экзамену, мы хотим оставить
    выходные свободными. Для этого мы нажмём на галочку “ Выбрать определённые дни” и выберем только будние дни.</p>
  <p>Далее будет предложено назначить дату создания. Мы начнем подготовку к экзамену с завтрашнего дня, поэтому и
    выберем соответствующее число. Возможно, вы уже как неделю занимаетесь каким-то действием и только сейчас решили
    создать его, это не страшно, выбирайте удобную вам дату и от неё будет вестись отчёт или запланировать начало
    действия на будущее, собственно, как мы и сделали.</p>
  <p>Вы можете завершить выполнения действия в любой день, но, если хотите, можете заранее назначить дату завершения.
    Наш экзамен начнётся через две недели и нам надо успеть к нему подготовиться, поэтому мы назначим соответствующую
    дату завершения.</p>
  <p>Чтобы не отстать от достижения своей цели, вы можете использовать функцию ведения долгов. Все долги будут
    отображаться в календаре, и вы будете знать, что можете закрыть их. Ради достижения цели мы готовы на всё и если мы
    пропустим назначенный день подготовки, то нам, соответственно, нужно будет в двойне поработать в следующий день.
    Например нам, чтобы закрыть долг, в случае его возникновения конечно, надо будет потратить на подготовку к экзамену
    не один час, а два.</p>
  <p>Нажимаем кнопку “Создать действие” и видим, что в разделе активных действий появилось наше только что созданное
    действие.</p>
  <p>Мы вспомнили, что после экзамена будет вечеринка и нам нужно похудеть за две недели, чтобы влезть в любимые джинсы.
    Поэтому создадим ещё пару действий =)</p>
  <h1>Мониторинг календаря.</h1>
  <p>После создания нужных действий, перейдите в раздел “Календарь”. В соответствующие даты будут помещены ячейки ваших
    действий.</p>
  <p>Мониторьте календарь и отмечайте действия, если вы его выполнили.</p>
  <p>После выполнения всех действий за определённый день, соответствующая дата меняет свой статус на завершённый.</p>
  <p>Как вы видите, мы уже полторы недели успешно завершаем все наши действия, но один день подготовки к экзамену мы
    пропустили, вследствие чего появилась ячейка долга и сегодня нам надо будет поработать в двойне.</p>
  <p>Если вы хотите, чтобы ячейки располагались в определённом порядке, то в разделе действия просто перенесите действие
    в соответствующую позицию, на которой вы хотите её видеть в днях календаря.</p>
  <h1>Завершение действий.</h1>
  <p>Наконец мы успешно сдали экзамен и отлично повеселились на вечеринке. Мы молодцы, нам удалось достичь своей цели и
    нам пора завершить действия, которым мы не задали дату завершения, чтобы они далее не отображались в календаре.</p>
  <p>Для этого в разделе “Действия” в поле “Активные действия” нажмите на кнопку завершить на нужном действии.</p>
  <p>Все завершённые действия будут храниться в истории и перемещаются в поле “Завершённые действия”. Если вы не хотите,
    чтобы статистика учитывала данные завершённого действия и отображала их в календаре, то вы можете удалить его
    совсем, но учтите, что они исчезнут навсегда.</p>
  <h1>Статистика.</h1>
  <p>В разделе “Статистика” вы можете наглядно увидеть весь ваш прогресс и другую детальную информацию.</p>
  <h1>О плюсах использования веб-приложения Vector и отслеживания прогресса.</h1>
  <p>Как люди, мы твердо желаем достичь финиша. Мы жаждем завершения, вычеркивая пункты из списка дел и говоря, что мы
    закончили, можем переходить к следующему.</p>
  <p>Однако вся эта навязчивая идея сказать, что мы «сделали», может привести к так называемой “предвзятости к
    завершению” - когда ваш мозг специально ищет удара дофамина, которое вы получаете, выполняя небольшие задачи, и
    игнорируете работу над более крупными и более сложными задачами.</p>
  <p>Но ведь не всё так легко измерить. Крупные (и часто более значимые) проекты не вычеркиваются из списка дел за один
    день.</p>
  <p>Чтобы оставаться приверженными работе, которая для нас важнее всего, нам нужно найти способы измерить, отследить и
    почувствовать радость от прогресса, который мы делаем каждый день. В этом главная задача веб-приложения Vector.</p>
  <p>Маленькие победы – это огромные мотиваторы. Но мы очень редко это замечаем.</p>
  <p>Когда Тереза Амабиле из Гарварда изучила повседневные привычки сотен работников умственного труда в разных
    отраслях, она обнаружила, что из всего того, что может повысить наше настроение и мотивацию в течение рабочего дня,
    «единственное самое важное — это достижение значимой работы».</p>
  <p>Точно так же, как мы любим вычеркивать небольшие задачи из нашего списка дел, способность видеть, что мы на шаг
    ближе к большой цели, является огромным мотиватором.</p>
  <p>Проблема в том, что эти «маленькие победы», трудно измерить. И что еще хуже, мы склонны их игнорировать. Как
    отмечает автор <cite>Джоселин К. Глей</cite>:</p>
  <blockquote>«Большинство из нас делают маленькие и большие успехи каждый день, но мы не замечаем их, потому что у нас
    нет метода для осознания нашего прогресса. Это огромная потеря».</blockquote>
  <p>Когда мы заняты как никогда, есть причина, по которой мы чувствуем, что ничего не сделано. Когда перед вами
    предстает огромная цель, легко впасть в депрессию и начать чувствовать себя побежденным. И что еще хуже, современная
    рабочая среда усиливает эти чувства по ряду причин:</p>
  <ul>
    <li>
      <p>Наши дни заполнены бессмысленной, занятой работой: так многие из нас проводят наши дни в реактивном режиме -
        отвечая на электронные письма, общаясь в социальных сетях и тд. И в данный момент может показаться, что вы
        делаете важную работу. Но это всё только затрудняет измерение любого реального прогресса.</p>
    </li>
    <li>
      <p>Мы утратили способность ставить значимые и эффективные цели: осознание прогресса означает достижение цели. И
        все же немногие из нас ставят эффективные цели или имеют четкое представление о том, как мы их достигнем.</p>
    </li>
    <li>
      <p>Мы не устанавливаем методы для отслеживания прогресса: без легкой, воспроизводимой системы, позволяющей четко
        видеть и отслеживать прогресс, не имеет значения, сколько работы вы делаете, вы не почувствуете себя ближе к
        финишной черте.</p>
    </li>
    <li>
      <p>Мы утратили способность справляться с неопределенностью: когда вы не можете измерить прогресс, крупные проекты
        могут быстро стать ошеломляющими. Это означает, что мы с большей вероятностью по умолчанию будем выполнять
        меньшие, более краткосрочные задачи, которые мы понимаем.</p>
    </li>
  </ul>
  <p>Но чтобы сделать работу значимой, нам нужно бороться с чувством подавленности, которое возникает от крупных
    проектов. А это значит, что надо знать, как отслеживать ваши успехи и данное веб-приложение поможет вам в этом.</p>
  <p>Отслеживание прогресса является мощным инструментом. И не только для того, чтобы сохранять мотивацию и
    продуктивность.</p>
  <p>Когда вы отслеживаете свои успехи, вы, естественно, становитесь более целеустремленными в своей работе. Что может
    создать тот смысл, который многие из нас ищут в нашей повседневной работе. Вы также сможете лучше понять ценность,
    которую вы создаете, и сможете показать своему боссу или команде результаты ваших ежедневных задач.</p>
  <p>Отслеживание вашего прогресса — это самый простой способ противостоять чувству перегруженности от крупных проектов.
  </p>
  <p>Имея систему измерения прогресса, вы всегда будете знать, что у вас правильный вектор движения. Неважно, насколько
    велик или сложен проект.</p>
  <p>Вместо того, чтобы чувствовать себя подавленным, вы будете уверены, что, по крайней мере, движетесь в правильном
    направлении. Как пишет <cite>Тереза Амабиле</cite> в своем эссе <cite>«Сила малых побед»</cite>, прогресс создает
    положительную обратную связь:</p>
  <blockquote>«Чем чаще люди испытывают это чувство прогресса, тем больше вероятность того, что они будут творчески
    продуктивными в долгосрочной перспективе. Пытаются ли они разгадать крупную научную загадку или просто производят
    высококачественный продукт или услугу».</blockquote>
  <p>Чем больше вы испытываете чувство прогресса, тем больше вы мотивированы и продуктивны. И тем чаще вы замечаете тот
    самый прогресс. И так далее.</p>
  <p>Это также невероятный способ заставить замолчать вашего внутреннего критика, подавить прокрастинацию и просто
    начать работать. Как объясняет <cite>автор Джеймс Клир</cite>:</p>
  <blockquote>«Если вы хотите обобщить привычки успешных людей в одной фразе, то вот что: успешные люди начинают, прежде
    чем они чувствуют себя готовыми начать».</blockquote>
  <p>Когда вы разрешаете себе сосредоточиться на прогрессе, а не на совершенстве, вы ставите себя в положение быть более
    продуктивным, чем когда-либо.</p>
  <h1>От автора приложения.</h1>
  <p>Vector является моим первым веб-приложением, которое я разместил на github. Написано оно было в первую очередь для
    собственного использования, так что не судите строго, а если вдруг вам понравилось данное приложение, и вы захотите
    пользоваться им, то не давайте своему вектору движения отклонятся от вашей главной цели и старайтесь сильно не
    влезать в долги, говорю по собственному опыту, удачи =)</p>
</section>