<section class="manual">
  <h2>Добро пожаловать в Vector</h2>
  <p>Представленное веб-приложение поможет оставаться приверженным целям, корректировать вектор движения, придерживаться намеченного курса и получать радость от постоянного прогресса.</p>
  <p>Vector даст возможность проконтролировать достижение цели, измерить, отследить и насладиться пройденным путем.</p>
  <h1>Примеры использования</h1>
  <p>1.1 Создание действия</p>
  <p>Для того, чтобы создать действие, в разделе "Действия" нужно расскрыть и заполнить соответствующую форму. Созданное действие будет отображаться в календаре исходя из тех настроек, которые вы указали при создании действия.</p>
  <img src="/img/exemple1.gif" alt="this slowpoke moves" width="950px">
  <p>1.2 Изменение порядка отображения действий</p>
  <p>Порядок отображения действий зависит от того, в каком порядке они расположены в блоке активных действий раздела "Действия". Перемещать действия можно зажав кнопку, которая находится в верхнем правом углу ячейки действия.</p>
  <img src="/img/exemple2.gif" alt="this slowpoke moves" width="950px">
  <p>1.3 Выполнение действий</p>
  <p>После того, как вы выполнили действие, его стоит отметить как выполненое. Для этого можно нажать на соответствующий кружок в календаре.</p>
  <img src="/img/exemple3.gif" alt="this slowpoke moves" width="950px">
  <p>Также можно кликнуть мышкой на нужный день, чтобы открыть окно с более подробной информацией о действиях и отметить или отменить действие в нём.</p>
  <img src="/img/exemple4.gif" alt="this slowpoke moves" width="950px">
  <p>Если выполнить все действие в определённом дне календаря, то день перейдет в статус успешно выполненого.</p>
  <img src="/img/exemple5.gif" alt="this slowpoke moves" width="950px">
  <p>1.4 Долги</p>
  <p>При создании действия вы можете выбрать пункт отслеживания долгов. В этом случае, все невыполненые действия будут отмечены как долг. Суть учёта долгов в том, что вы можете выполнить их позже.</p>
  <img src="/img/exemple6.gif" alt="this slowpoke moves" width="950px">
  <p>1.5 Завершенные действия</p>
  <p>Если уже нет необходимости выполнять действие, его можно завершить. Псоле завершения действия, весь прогресс его выполнения сохраняется и все прошлые изменения в кадендаре и статистике также будут отображаться, а будущие дни уже будут вестись без учёта завершённого действия.</p>
  <img src="/img/exemple7.gif" alt="this slowpoke moves" width="950px">
  <p>1.6 Удаление действия</p>
  <p>Завершённое действие можно удалить в разделе завершённые действия. После удаления, весь прогресс выполнения действия, отображение его в календаре и статистике будет удалёно навсегда.</p>
  <img src="/img/exemple8.gif" alt="this slowpoke moves" width="950px">
  <p>1.7 Статистика</p>
  <p>В данном разделе будет отображены вся информация по текущим и завершённым действиям, статистика за текущий год и месяц.</p>

  <h1>Что нужно для использования веб-приложения?</h1>
  <p>Зарегистрироваться и войти. Регистрация необходима для создания и сохранения действий, ведения истории и статистики прогресса. Это не займет у вас много времени.</p>

  <h1>О плюсах использования веб-приложения Vector и отслеживания прогресса.</h1>
  <p>Как люди, мы твердо желаем достичь финиша. Мы жаждем завершения, вычеркивая пункты из списка дел и говоря, что мы
    закончили, можем переходить к следующему.</p>
  <p>Однако вся эта навязчивая идея сказать, что мы «сделали», может привести к так называемой “предвзятости к
    завершению” - когда ваш мозг специально ищет удара дофамина, которое вы получаете, выполняя небольшие задачи, и
    игнорируете работу над более крупными и более сложными задачами.</p>
  <p>Но ведь не всё так легко измерить. Крупные (и часто более значимые) проекты не вычеркиваются из списка дел за один
    день.</p>
  <p>Чтобы оставаться приверженными работе, которая для нас важнее всего, нам нужно найти способы измерить, отследить и
    почувствовать радость от прогресса, который мы делаем каждый день. В этом главная задача веб-приложения Vector.</p>
  <p>Маленькие победы – это огромные мотиваторы. Но мы очень редко это замечаем.</p>
  <p>Когда Тереза Амабиле из Гарварда изучила повседневные привычки сотен работников умственного труда в разных
    отраслях, она обнаружила, что из всего того, что может повысить наше настроение и мотивацию в течение рабочего дня,
    «единственное самое важное — это достижение значимой работы».</p>
  <p>Точно так же, как мы любим вычеркивать небольшие задачи из нашего списка дел, способность видеть, что мы на шаг
    ближе к большой цели, является огромным мотиватором.</p>
  <p>Проблема в том, что эти «маленькие победы», трудно измерить. И что еще хуже, мы склонны их игнорировать. Как
    отмечает автор <cite>Джоселин К. Глей</cite>:</p>
  <blockquote>«Большинство из нас делают маленькие и большие успехи каждый день, но мы не замечаем их, потому что у нас
    нет метода для осознания нашего прогресса. Это огромная потеря».</blockquote>
  <p>Когда мы заняты как никогда, есть причина, по которой мы чувствуем, что ничего не сделано. Когда перед вами
    предстает огромная цель, легко впасть в депрессию и начать чувствовать себя побежденным. И что еще хуже, современная
    рабочая среда усиливает эти чувства по ряду причин:</p>
  <ul>
    <li>
      <p>Наши дни заполнены бессмысленной, занятой работой: так многие из нас проводят наши дни в реактивном режиме -
        отвечая на электронные письма, общаясь в социальных сетях и тд. И в данный момент может показаться, что вы
        делаете важную работу. Но это всё только затрудняет измерение любого реального прогресса.</p>
    </li>
    <li>
      <p>Мы утратили способность ставить значимые и эффективные цели: осознание прогресса означает достижение цели. И
        все же немногие из нас ставят эффективные цели или имеют четкое представление о том, как мы их достигнем.</p>
    </li>
    <li>
      <p>Мы не устанавливаем методы для отслеживания прогресса: без легкой, воспроизводимой системы, позволяющей четко
        видеть и отслеживать прогресс, не имеет значения, сколько работы вы делаете, вы не почувствуете себя ближе к
        финишной черте.</p>
    </li>
    <li>
      <p>Мы утратили способность справляться с неопределенностью: когда вы не можете измерить прогресс, крупные проекты
        могут быстро стать ошеломляющими. Это означает, что мы с большей вероятностью по умолчанию будем выполнять
        меньшие, более краткосрочные задачи, которые мы понимаем.</p>
    </li>
  </ul>
  <p>Но чтобы сделать работу значимой, нам нужно бороться с чувством подавленности, которое возникает от крупных
    проектов. А это значит, что надо знать, как отслеживать ваши успехи и данное веб-приложение поможет вам в этом.</p>
  <p>Отслеживание прогресса является мощным инструментом. И не только для того, чтобы сохранять мотивацию и
    продуктивность.</p>
  <p>Когда вы отслеживаете свои успехи, вы, естественно, становитесь более целеустремленными в своей работе. Что может
    создать тот смысл, который многие из нас ищут в нашей повседневной работе. Вы также сможете лучше понять ценность,
    которую вы создаете, и сможете показать своему боссу или команде результаты ваших ежедневных задач.</p>
  <p>Отслеживание вашего прогресса — это самый простой способ противостоять чувству перегруженности от крупных проектов.
  </p>
  <p>Имея систему измерения прогресса, вы всегда будете знать, что у вас правильный вектор движения. Неважно, насколько
    велик или сложен проект.</p>
  <p>Вместо того, чтобы чувствовать себя подавленным, вы будете уверены, что, по крайней мере, движетесь в правильном
    направлении. Как пишет <cite>Тереза Амабиле</cite> в своем эссе <cite>«Сила малых побед»</cite>, прогресс создает
    положительную обратную связь:</p>
  <blockquote>«Чем чаще люди испытывают это чувство прогресса, тем больше вероятность того, что они будут творчески
    продуктивными в долгосрочной перспективе. Пытаются ли они разгадать крупную научную загадку или просто производят
    высококачественный продукт или услугу».</blockquote>
  <p>Чем больше вы испытываете чувство прогресса, тем больше вы мотивированы и продуктивны. И тем чаще вы замечаете тот
    самый прогресс. И так далее.</p>
  <p>Это также невероятный способ заставить замолчать вашего внутреннего критика, подавить прокрастинацию и просто
    начать работать. Как объясняет <cite>автор Джеймс Клир</cite>:</p>
  <blockquote>«Если вы хотите обобщить привычки успешных людей в одной фразе, то вот что: успешные люди начинают, прежде
    чем они чувствуют себя готовыми начать».</blockquote>
  <p>Когда вы разрешаете себе сосредоточиться на прогрессе, а не на совершенстве, вы ставите себя в положение быть более
    продуктивным, чем когда-либо.</p>
  <h1>От автора приложения.</h1>
  <p>Vector является моим первым веб-приложением, которое я разместил на github. Написано оно было в первую очередь для
    собственного использования, так что не судите строго, а если вдруг вам понравилось данное приложение, и вы захотите
    пользоваться им, то не давайте своему вектору движения отклонятся от вашей главной цели и старайтесь сильно не
    влезать в долги, говорю по собственному опыту, удачи =)</p>
</section>