<h2>Settings</h2>

<form action="/settings" method="POST">
  <label>Название фазы<input name="phase" type="text" placeholder="Введите название фазы"></label><br>
  <button id="btn-create-phase" type="submit">Создать фазу</button>
</form>