<section class="settings">
  <form action="/create-action" method="POST" class="create-action">
    {{#if errors}}
      <p class="error-msg">{{errors}}</p>
    {{/if}}
    <label>Название действия <input name="action" type="text" placeholder="Введите название фазы"></label><br>
    <p>Каждый день <input type="checkbox" id="everyday" name="period" value="everyday" checked></p>
    <p>В определённые дни:
      <div class="days-action">
        <div>Понедельник <input type="checkbox" name="period" value="Пн" disabled></div>
        <div>Вторник <input type="checkbox" name="period" value="Вт" disabled></div>
        <div>Среда <input type="checkbox" name="period" value="Ср" disabled></div>
        <div>Четверг <input type="checkbox" name="period" value="Чт" disabled></div>
        <div>Пятница <input type="checkbox" name="period" value="Пт" disabled></div>
        <div>Суббота <input type="checkbox" name="period" value="Сб" disabled></div>
        <div>Воскресенье <input type="checkbox" name="period" value="Вс" disabled></div>
      </div>
    </p>
    <p>Укажите дату начала: <input type="date" name="start"></p>
    <p>Назначить дату завершения? <input type="checkbox" id="end-day"></p>
    <p>Укаэите дату завершения: <input type="date" name="end" id="end-date" disabled></p>
    <p>Учитывать долги <input type="checkbox" name="debt" value="true"></p>
    <button id="btn-create-action" type="submit">Создать действие</button>
  </form>
</section>

<section class="actions">
</section>

<script src="js/settings.js" defer></script>