<section class="statistics">

  <div class="wrapper"></div>
  <div class="btn-box"></div>
  <div class="statistics-info">
    <p>Всего успешных дней в текущем месяце:
      <span id="percent-success-days-in-month"></span> (<span id="success-days-in-month"></span>)</p>
    <p>Всего не завершенных дней в текущем месяце:
      <span id="percent-failed-days-in-month"></span> (<span id="all-failed-days-in-month"></span>)</p>
    <p>Всего успешных дней: <span id="percent-success-days"></span> (<span id="all-success-days"></span>)</p>
    <p>Всего не завершенных дней: <span id="percent-failed-days"></span> (<span id="all-failed-days"></span>)</p>
    <p>Общее количество пройденных дней: <span id="percent-failed-days"></span> (<span id="all-failed-days"></span>)</p>
    <p>Долги: <span id="debts"></span></p>
  </div>

  {{#if script}}
      <script src="{{script}}"></script>
  {{/if}}
</section>