<section class="statistics">

  <div class="wrapper"></div>
  <div class="btn-box"></div>
  <div class="statistics-info">
    <p>Количество успешных дней в текущем месяце:
      <span id="success-days-in-month"></span> (<span id="percent-success-days-in-month"></span>)</p>
    <p>Количество незавершенных дней в текущем месяце:
      <span id="all-failed-days-in-month"></span> (<span id="percent-failed-days-in-month"></span>)</p>
    <p>Общее количество успешных дней:
      <span id="all-success-days"></span> (<span id="percent-success-days"></span>)</p>
    <p>Общее количество незавершенных дней:
      <span id="all-failed-days"></span> (<span id="percent-failed-days"></span>)</p>
    <p>Общее количество дней c момента первого дейстивия: <span id="total-days"></span></p>
    <p>Долги: <span id="debts"></span></p>
  </div>

  {{#if script}}
      <script src="{{script}}"></script>
  {{/if}}
</section>