.create-actions {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-family: MyriadProSemiBold;
}

.create-actions .create-action {
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(to top, rgb(26, 58, 119), rgb(39, 90, 184));
}

.create-actions .create-action input[type=text],
.create-actions .create-action input[type=date] {
  border-radius: 10px;
  padding: 5px 20px;
  margin-left: 10px;
  font-family: MyriadProRegular;
  font-size: 18px;
  color: rgb(56, 56, 56);
  border: none;
  outline: none;
}

.create-actions .create-action input[type=text] {
  width: 50%;
  margin-bottom: 20px;
}

.create-actions .create-action input[type=text]:focus,
.create-actions .create-action input[type=date]:focus {
  border: 1px solid rgb(5, 185, 230);
  padding: 4px 19px;
}

.create-actions .create-action input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.create-actions .create-action .custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.create-actions .create-action .custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #e9ecef;
  cursor: pointer;
}

.create-actions .create-action .custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.create-actions .create-action .custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.create-actions .create-action .custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.create-actions .create-action .custom-radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.create-actions .create-action .custom-radio:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.create-actions .create-action .custom-radio:disabled+label::before {
  background-color: #e9ecef00;
  cursor: default;
}

.create-actions .create-action .days-action {
  display: flex;
  padding: 0 20px;
}

.create-actions .create-action .days-action div {
  margin-right: 20px;
}

.create-actions .create-action #btn-create-action {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  font-family: MyriadProSemiBold;
  font-size: 20px;
  color: rgb(56, 56, 56);
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.1s;
}

.create-actions .create-action #btn-create-action:hover {
  background-color: #0b76ef;
  color: #fff;
}

.actions {
  border: 1px solid blue;
  font-family: MyriadProSemiBold;
}
.actions h2 {
  text-align: center;
}

.actions .active-actions-box {
  transition: 0.3s;
}

.actions .active-actions-box-drag {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}

.stub {
  border: 1px solid rgb(22, 120, 177);
  position: relative;
  width: 373px;
  margin-bottom: 20px;
  opacity: 0;
}

.action-item .dnd-action {
  border: 1px solid blue;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.actions .active-actions-box, .actions .inactive-actions-box {
  border: 1px solid red;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.actions .action-item, .inactive-actions .action-item {
  border: 1px solid green;
  position: relative;
  width: 353px;
  height: 203.52px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.actions .action-name, .inactive-actions .action-name {
  border: 1px solid purple;
}

.actions .action-days, .inactive-actions .action-days {
  border: 1px solid indigo;
}