.calendar {
  position: relative;
  width: 100%;
  height: 94%;
  overflow: hidden;
  font-family: MyriadProSemiBold;
  color: rgb(56, 56, 56);
}

.calendar .modal-empty-calendar {
  border: 1px solid red;
  position: absolute;
  top: 13px;
  left: 12%;
  width: 22%;
  padding: 10px;
  font-size: 1.3vw;
  background-color: rgba(143, 143, 143, 0.486);
  z-index: 1000;
}

.calendar .left-calendar, .calendar .middle-calendar, .calendar .right-calendar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.calendar .left-calendar {
  left: -100%;
}
.calendar .middle-calendar {
  left: 0;
}
.calendar .right-calendar {
  left: 100%;
}

.calendar #left, .calendar #right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 10%;
  font-size: 3vw;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  z-index: 999;
  transition: 0.1s;
}

.calendar #left {
  left: 0;
  background-image: url('/img/arrow-left.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.calendar #left:hover {
  background-image: url('/img/arrow-left-hover.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.calendar #right {
  right: 0;
  background-image: url('/img/arrow-right.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.calendar #right:hover {
  background-image: url('/img/arrow-right-hover.png');
  background-repeat: no-repeat;
  background-position: center center;
}


.calendar .calendar-title {
  padding: 15px 0;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: bold;
}

.calendar table {
  width: 80%;
  height: 90%;
  border-spacing: 10px;
}

.calendar table thead tr th {
  width: 14.28%;
  font-size: 1vw;
  text-transform: uppercase;
}

.calendar table tbody tr td {
  position: relative;
  max-width: 217px;
  height: 6vw;
  font-size: 1.6vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: -3px 3px 8px rgba(39, 39, 156, 0.664);
}

.calendar table tbody tr .completed-day {
  border: 2px solid rgb(26, 119, 26);
  background: linear-gradient(to bottom right, rgb(22, 105, 22), rgb(70, 230, 78));
  box-shadow: -3px 3px 8px rgba(26, 119, 26, 0.664);
  color: #fff;
}

.calendar table tbody tr .incompleted-day {
  border: 2px solid rgba(124, 124, 124, 0.863);
  background: linear-gradient(to bottom right, rgb(54, 0, 90), rgb(123, 1, 204));
  box-shadow: -3px 3px 8px rgba(95, 95, 95, 0.664);
  color: #fff;
}

.calendar table tbody tr .current-day {
  border: 2px solid rgba(5, 185, 230, 0.863);
  background: linear-gradient(to bottom right, rgb(5, 185, 230), rgb(206, 240, 248));
  box-shadow: -3px 3px 8px rgba(5, 185, 230, 0.664);
  color: #fff;
}

.calendar table tbody tr td .actions-container {
  display: flex;
  justify-content: center;
}

.calendar table tbody tr td .actions-container .action {
  position: relative;
  margin: 5px;
  width: 5%;
  height: 3vw;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.514);
}

.calendar table tbody tr td .actions-container .action-level-2 {
  height: 1.3vw;
  margin: 4px;
}

.calendar table tbody tr td .actions-container .action-level-3 {
  height: 0.7vw;
  margin: 2px;
}

.calendar table tbody tr td .actions-container .action .action-info {
  position: absolute;
  width: 200px;
  padding: 10px;
  top: 70px;
  left: -100px;
  font-size: 1.1vw;
  background-color: #fff;
  color: rgb(56, 56, 56);
  border: 1px solid rgb(63, 63, 97);
  border-radius: 13px;
  z-index: 1000;
}

.calendar table tbody tr td .actions-container .action-false {
  background-color: #fff;
  border: 1px solid rgba(63, 63, 97, 0.651);
}

.calendar table tbody tr td .actions-container .action-done {
  background: linear-gradient(to bottom, rgb(229, 255, 0),rgb(153, 163, 10));
  border: 1px solid rgba(63, 63, 97, 0.651);
}

.calendar table tbody tr td .actions-container .action-unused {
  /* border: 1px solid rgb(63, 63, 97); */
}

.calendar table tbody tr td .actions-container .action-debt {
  border: 1px solid rgba(63, 63, 97, 0.651);
  background: linear-gradient(to bottom, rgb(105, 23, 94),rgb(192, 39, 179));
}

.calendar table tbody tr td .actions-container .action:hover:not(.action-unused) {
  box-shadow: 0px 0px 8px rgb(251, 255, 0);
}