html, body {
  height: 100%;
}

.calendar {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 0;
  overflow: hidden;
  font-family: MyriadProSemiBold;
  color: #F2F2F2;
}

.calendar .btn-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1024px;
  height: 55px;
}

.calendar .btn-box #right,
.calendar .btn-box #left {
  width: 55px;
  height: 55px;
  z-index: 999;
  transition: 0.1s;
}

.calendar .btn-box #right {
  background-image: url('/img/arrow-right.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.calendar .btn-box #left {
  background-image: url('/img/arrow-left.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.calendar .btn-box #right:hover{
  background-image: url('/img/arrow-right-hover.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.calendar .btn-box #left:hover{
  background-image: url('/img/arrow-left-hover.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.calendar .left-calendar, .calendar .middle-calendar, .calendar .right-calendar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.calendar .left-calendar {
  left: -100%;
}
.calendar .middle-calendar {
  left: 0;
}
.calendar .right-calendar {
  left: 100%;
}

.calendar .calendar-title {
  padding: 15px 0;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-family: MyriadProBold;
}

.calendar table {
  width: 1024px;
  height: 650px;
  border-collapse: collapse;
  border-style: hidden;
}

.calendar table thead tr th {
  font-size: 1vw;
  text-transform: uppercase;
}

.calendar table tbody tr td {
  position: relative;
  width: 13%;
  font-size: 1.6vw;
  text-align: center;
  color: #313131;
  border: 1px solid #e2e2e2;
  background-color: #F2F2F2;
}

.calendar table tbody tr:first-child td {
  border-top: hidden;
}

.calendar table tbody tr .current-day,
.calendar table tbody tr .incompleted-day,
.calendar table tbody tr .completed-day {
  cursor: pointer;
}

.calendar table tbody tr .completed-day {
  background-color: #02B3C7;
}

.calendar table tbody tr .incompleted-day {
  color: #F2F2F2;
  background-color: #1B2940;
}

.calendar table tbody tr .current-day {
  background-color: #026873;
}

.calendar table tbody tr td .actions-container {
  display: inline-flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
  max-width: 85px;
}

.calendar table tbody tr td .actions-container .action {
  position: relative;
  margin: 5px 2px;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.1s;
  background-color: #9fa09b;
}

.calendar table tbody tr td .actions-container .action-done {
  background-color: #05B363;
}

.calendar table tbody tr .completed-day .actions-container .action-done {
  background-color: #0546B3;
}

.calendar table tbody tr td .actions-container .action-done:hover,
.calendar table tbody tr td .actions-container .action-false:hover {
  box-shadow: 0px 0px 2px 1px #05B363 inset;
}

.calendar table tbody tr .completed-day .actions-container .action-done:hover {
  box-shadow: 0px 0px 2px 2px #067ABD inset;
}

.calendar table tbody tr td .actions-container .action .tooltip {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, 40px);
  grid-auto-flow: column;
  align-items: center;
  top: -40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 999;
}


.calendar table tbody tr td .actions-container .action .tooltip p {
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  white-space: nowrap;
}

.calendar table tbody tr td .actions-container .action .tooltip .triangle-down {
  position: absolute;
	width: 0;
  height: 0;
  bottom: -8px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.89);
  z-index: 998;
}

.calendar #modal-info-actions {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  z-index: 1000;
  overflow-y: auto;
}

.calendar #modal-info-actions .actions-container {
  padding: 20px 0;
  margin-left: 20px;
  width: 40%;
}

.calendar #modal-info-actions .actions-container #action-date {
  text-align: center;
}

.calendar #modal-info-actions .actions-container #action-box .action-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #313131;
  background-color: #F2F2F2;
}

.calendar #modal-info-actions .actions-container #action-box .action-item-done {
  color: #313131;
  background-color: #02B3C7;
}

.calendar #modal-info-actions .actions-container #action-box .action-item-debt {
  color: #F2F2F2;
  background-color: #7B14A6;
}

.calendar #modal-info-actions .actions-container #action-box .action-item button {
  width: 100px;
  font-size: 15px;
  color: #313131;
  border: 1px solid #313131;
  cursor: pointer;
  outline: none;
}

.calendar #modal-info-actions .actions-container #action-box .action-item .cancel-action {
  background-color: #02B3C7;
}

.calendar #modal-info-actions .actions-container #action-box .action-item .complete-debt {
  width: 110px;
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  background-color: #7B14A6;
}

.calendar #modal-info-actions .actions-container #action-box .action-item .debt-done {
  width: 110px;
  color: #F2F2F2;
  border: none;
  cursor: default;
  background-color: #02B3C7;
}

.calendar #modal-info-actions .actions-container #action-box .action-item .complete-action:hover {
  color: #04BFBF;
  border: 1px solid #04BFBF;
}

.calendar #modal-info-actions .actions-container #action-box .action-item .cancel-action:hover {
  color: #F2391D;
  border: 1px solid #F2391D;
}

.calendar #modal-info-actions .actions-container #action-box .action-item .complete-debt:hover {
  color: #04BFBF;
  border: 1px solid #04BFBF;
}

.modal-empty-calendar {
  position: absolute;
  top: 40px;
  left: 0;
  text-align: center;
  width: 100%;
}