html, body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li{
  margin-left: 20px;
}

#mocha {
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.error-msg {
  border: 1px solid red;
  padding: 10px 20px;
  font-weight: bold;
  color: red;
}