html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(243, 243, 243);
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("/fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProItalic";
  src: url("/fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("/fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
  url("/fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("/fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("/fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("/fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
  url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
  url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: rgb(39, 90, 184);
}

.access-box {
  display: flex;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.header ul li a, .header .label, .header .user-name, .header .logout, .header .reg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  font-family: MyriadProSemiBold;
  font-size: 18px;
  color: #fff;
}

.header .label {
  margin-left: 10px;
}

.header ul li a:hover, .header .logout:hover, .header .reg:hover  {
  background-color: rgb(30, 30, 119);
}

@media only screen and (max-width : 1024px) {
  .header {
    height: 30px;
  }

  .header ul li a, .header .label, .header .user-name, .header .logout, .header .reg {
    font-size: 13px;
  }
}

@media only screen and (max-width : 768px) {

#mocha {
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.error-msg {
  border: 1px solid red;
  padding: 10px 20px;
  font-weight: bold;
  color: red;
}