html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(243, 243, 243);
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("/fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProItalic";
  src: url("/fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("/fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
  url("/fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("/fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("/fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("/fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
  url("/fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
  url("/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header-desk {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, rgb(26, 58, 119), rgb(39, 90, 184));
}

.access-box, .user-box {
  display: flex;
}

.header-desk ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.header-desk ul li a, .header-desk .label, .header-desk .user-name, .header-desk .logout, .header-desk .reg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  font-family: MyriadProSemiBold;
  font-size: 18px;
  color: #fff;
  transition: 0.1s;
}

.header-desk .label {
  margin-left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(0,0,0);
}

.header-desk ul li a:hover, .header-desk .logout:hover, .header-desk .reg:hover  {
  background-color: rgb(30, 30, 119);
}

.header-desk ul .active a {
  background: linear-gradient(to bottom, rgb(32, 32, 124), rgb(43, 43, 168));
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#mocha {
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.error-msg {
  border: 1px solid red;
  padding: 10px 20px;
  font-weight: bold;
  color: red;
}