header .header-desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

header .header-desktop .access-box,
header .header-desktop .user-box {
  display: flex;
}

header .header-desktop ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

header .header-desktop ul li a,
header .header-desktop .label,
header .header-desktop .user-name,
header .header-desktop .logout,
header .header-desktop .reg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  font-family: MyriadProSemiBold;
  font-size: 18px;
  color: #F2F2F2;
  transition: 0.1s;
}

header .header-desktop .label {
  margin-left: 10px;
  font-size: 30px;
  font-family: BarlowCondensedMediumItalic;
  text-transform: uppercase;
}

header .header-desktop ul li a:hover,
header .header-desktop .logout:hover,
header .header-desktop .reg:hover  {
  color: #F2F2F2;
  background-color: #04BFBF;
}

header .header-desktop ul .active a {
  color: #0B4B59;
}