.login,
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94%;
  font-family: MyriadProRegular;
}

.login .login-container,
.register .register-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  color: rgb(56, 56, 56);
}

.login .login-container h2,
.register .register-container h2 {
  font-size: 40px;
}

.login .login-container form,
.register .register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .login-container form label,
.register .register-container form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
}

.login .login-container form label input,
.register .register-container form label input {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 24px;
  border: 2px solid rgba(124, 124, 124, 0.863);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  outline: none;
}

.login .login-container form label input:focus,
.register .register-container form label input:focus {
  border: 2px solid rgb(5, 185, 230);
  padding: 10px 20px;
}

.login .login-container form #btn-login-user,
.register .register-container form #btn-create-user {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: 0.1s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.login .login-container form #btn-login-user:hover,
.register .register-container form #btn-create-user:hover {
  color: #fff;
  background-color: rgb(5, 185, 230);
}

.login .login-container .error-msg,
.register .register-container .error-msg {
  position: absolute;
  top: -65px;
  font-size: 24px;
}