body {
  background: #073040;
}

.manual {
  padding: 20px 60px;
  margin: 0 auto;
  width: 50%;
  font-size: 21px;
  font-family: MyriadProRegular;
  color: #F2F2F2;
}

.manual h1,
.manual h2,
.manual h2 + p,
.manual h2 + p + p,
.manual h2 + p + p + p {
  text-align: center;
}