.statistics {
  padding: 0 20px;
  font-family: MyriadProRegular;
}

.statistics .wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(55, 1.3vw);
  grid-template-rows: repeat(8, 1.3vw);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  font-size: 0.8vw;
}

.statistics .wrapper .month {
  font-size: 0.8vw;
}

.statistics .wrapper .day {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(194, 194, 194);
}

.statistics .wrapper .day-done {
  background-color: rgb(52, 175, 58);
}

.statistics .wrapper .day-failed {
  background-color: rgb(64, 0, 107);
}

.statistics .wrapper .tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  top: -40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 999;
}

.statistics .wrapper .tooltip .triangle-down {
  position: absolute;
	width: 0;
  height: 0;
  bottom: -8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.89);
  z-index: 998;
}

.statistics .wrapper .tooltip p {
  margin: 10px;
  white-space: nowrap;
}

.statistics .wrapper .tooltip .action-wrapper {
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 1000px;
}

.statistics .btn-box {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.statistics .btn-box .btn-year {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(to top, rgb(26, 58, 119), rgb(39, 90, 184));
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.statistics .btn-box .btn-year:not(.active):hover {
  background: rgb(30, 30, 119);
}

.statistics .btn-box .active {
  background: linear-gradient(to bottom, rgb(68, 95, 168), rgb(101, 136, 231));
}

.statistics .statistics-info {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  font-size: 23px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(to bottom right, rgb(95, 95, 95), rgb(189, 189, 189));
  border: 2px solid rgba(124, 124, 124, 0.863);
}

.statistics .statistics-info .info-first-block,
.statistics .statistics-info .info-second-block  {
  width: 45%;
}