.statistics {
  padding: 0 20px;
}

.statistics .wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(55, 20px);
  grid-template-rows: repeat(8, 20px);
  grid-auto-flow: column;
  grid-gap: 5px;
}

.statistics .wrapper .month {
  font-size: 13px;
}

.statistics .wrapper .day {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: rgb(194, 194, 194);
}

.statistics .wrapper .day-done {
  background-color: green;
}

.statistics .wrapper .day-failed {
  background-color: red;
}

.statistics .wrapper .tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  top: -40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 999;
}

.statistics .wrapper .tooltip .triangle-down {
  position: absolute;
	width: 0;
  height: 0;
  bottom: -8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.89);
  z-index: 998;
}

.statistics .wrapper .tooltip p {
  margin: 10px;
  white-space: nowrap;
}

.statistics .wrapper .tooltip .action-wrapper {
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 1000px;
}

.statistics .btn-box {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.statistics .btn-box .btn-year {
  border: 1px solid purple;
  padding: 10px 20px;
  cursor: pointer;
}

.statistics .btn-box .active {
  background-color: rgb(101, 136, 231);
}