@media only screen and (max-width : 1024px) {
  .calendar #left, .calendar #right {
    top: 91%;
    height: 60px;
    width: 50%;
  }

  .calendar {
    height: 93%;
  }

  .calendar table {
    width: 100%;
    height: 85%;
  }

  .calendar table tbody tr td {
    height: 7vw;
  }
}

@media only screen and (max-width : 768px) {
  .calendar table {
    height: 80%;
  }

  .calendar .calendar-title {
    font-size: 2.2vw;
  }

  .calendar table thead tr th {
    font-size: 2vw;
  }

  .calendar table tbody tr td {
    height: 9vw;
    font-size: 2.6vw;
  }

  .calendar table tbody tr td .actions-container .action {
    margin: 3px;
    height: 6vw;
  }

  .calendar table tbody tr td .actions-container .action-level-2 {
    margin: 2px;
    height: 2vw;
  }
}

@media only screen and (max-width : 480px) {
  .calendar #left, .calendar #right {
    top: 85%;
    height: 60px;
    width: 50%;
  }

  .calendar .calendar-title {
    font-size: 2.6vw;
  }

  .calendar table {
    height: 75%;
  }

  .calendar table tbody tr td .actions-container .action {
    margin: 2px;
  }
}